/*line-height
margin
padding
border*/

* {
margin: 0;
padding: 0;	
}  

header{
font-family: 'Roboto', sans-serif;
background-color: #FFF;
padding-top: 10px;
padding-bottom: 10px;
color: #021621;
}

img {
width:400px;	
padding:10px;
} 

body{
text-align: center;
background-color: #EEE;
color: #021621;

}

div {
padding-top: 10px;

}

h1 {
font-size: 36px;
border-color: #000;

}

p {
padding-top: 10px;
padding-bottom: 10px;
font-family: 'Merriweather', serif;
font-size: 15px;
line-height: 1.5em;
}

#slogan {
font-family: Helvetica, sans-serif;
font-style: italic;
font-size: 24px;
}

h3 {
font-family: 'Lato', sans-serif;
font-size: 28px;
text-align: center;
padding-top: 10px;
padding-bottom: 10px;
background-color: #FFF;
margin: 0;
}

h4 {
font-family: 'Lato', sans-serif;
font-size: 16px;
text-align: center;
padding-top: 10px;
padding-bottom: 20px;
background-color: #EEE;
margin: 0;
}

ul{
/*list-style-type: none;*/
font-family: 'Merriweather', serif;
font-size: 15px;
line-height: 1.5em;
text-align: left;
padding-top: 1em;
/*padding-left: 200px;*/
padding-bottom:15px;
padding-left: 20em;
background-color: #FFF;
}

a {
	color: #c0392b;
	text-decoration: none;
	font-weight: bold;

}

/*div {
    background: ref(images/proud_dog_field.jpeg);
    background-size: 200px 60px;
    background-repeat: no-repeat;
}*/